{{#> plantilla}}
<br><br>
<div class="divisones">
        <aside class="asideLeft">
            <div class="asideL">
                <br>
                <p id="aside__filtro">FILTRANDO POR:</p>
                <p id="aside__areas_p"> No se han seleccionado filtros.</p>
                <div class="aside__campos">
                    <div id="aside__filtrando"></div>
                </div>


                    <p class="aside__areas">-AREAS A FILTRAR-</p>

                    <div class="aside__campos">
                        <div id="aside__categorias"></div>
                    </div>
                    <!--  SE RELLENARA CON JS  -->

                </div>

            <div class="icono__container2">
                <a href="/donacion"><img class="iconoArbol" height="110" src="https://img.icons8.com/clouds/100/null/floating-island-forest.png"/></a>
            </div>

        </aside>

        <main class="centro">
            <h1 class="titulo__centro">Todas las areas para hacer voluntariado</h1>
            <div class="contenedor__contenedor__areas">
                <div id="contenedor__areas" class="contenedor__areas">
                    <!--  ESTA PARTE SE RELLENARA CON JS-->
                </div>
            </div>
        </main>

        <aside class="asideRight">
            AL LADO DERECHO DE LA PAGINA
            <h1>PUBLICIDAD AL VOLUNTARIADO</h1>
        </aside>
    </div>

<script src="/js/Area.js"></script>
<script src="/js/voluntariado.js"></script>
{{/plantilla}}